<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon icon-->
 <link rel="shortcut icon" type="image/png" href="<%= (typeof favicon !== 'undefined' && favicon)
                ? favicon
                : '/images/logos/favicon.png' %>" />

  <!-- Core Css -->
  <link rel="stylesheet" href="/css/styles.css" />
<!-- jQuery  -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- toster css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <title>INDUSTRA</title>
</head>

<body>

  <div id="main-wrapper" class="auth-customizer-none">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
            <div class="card mb-0">
              <div class="card-body pt-5">



                <form action="/reset-password" id="resetPasswordForm" method="post" class="mx-auto max-w-400" >
                  <h3 class="text-center mb-4">Reset Password</h3>
                    <input type="hidden" name="token" value="<%= token %>">
                  <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                      placeholder="Enter Your New Password" required>
                  </div>

                  <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                      placeholder="Enter Your Confirm Password" required>
                  </div>

                  <button type="submit" class="btn btn-primary w-100 py-2 mb-3 rounded-2">
                    Save Password
                  </button>

                  <a href="/" class="btn btn-outline-primary w-100 py-2 rounded-2">
                    Back to Email
                  </a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dark-transparent sidebartoggler"></div>
    <!-- Import Js Files -->
    <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="/js/theme/app.init.js"></script>
    <script src="/js/theme/theme.js"></script>
    <script src="/js/theme/app.min.js"></script>

    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

<!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script><%- include('../includes/partials') %>

</body>

</html>
<script src="/js/view/pageload.js"></script>